<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Efrei</title>
    <meta
            name="description"
            content="This is an example of a meta description."
    />
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<h1>Hello {{ firstname | upper }}</h1>
<h1>Hello {{ lastname | lower }}</h1>
<h1>Hello {{ age | fixed:2 }}</h1>
</body>
</html>